<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="cliff_sensor" params="name gazebo namespace parent:=base_link
                                         visualize:=false *origin">
  <!-- Sensor settings -->
  <xacro:property name="update_rate"         value="62"/>
  <xacro:property name="fov_deg"             value="5"/>
  <xacro:property name="fov_rad"             value="${fov_deg*deg2rad}"/>
  <xacro:property name="min_range"           value="${0.01*cm2m}"/>
  <xacro:property name="max_range"           value="${15*cm2m}"/>
  <xacro:property name="samples"             value="${fov_deg/5}"/>
  <xacro:property name="sensor_name"         value="cliff_${name}"/>
  <xacro:property name="detection_threshold" value="${8*cm2m}"/>


  <joint name="${sensor_name}_joint" type="fixed">
    <xacro:insert_block name="origin"/>
    <parent link="${parent}"/>
    <child link="${sensor_name}"/>
  </joint>

  <link name="${sensor_name}">
    <xacro:inertial_dummy/>
  </link>

  <gazebo reference="${sensor_name}">
    <xacro:ray_sensor sensor_name="${sensor_name}" gazebo="${gazebo}" 
                      update_rate="${update_rate}" visualize="${visualize}" 
                      h_samples="${samples}" h_res="1.0" h_min_angle="-${fov_rad/2}" h_max_angle="${fov_rad/2}" 
                      r_min="${min_range}" r_max="${max_range}" r_res="1.0">
      <plugin name="${sensor_name}" filename="libgazebo_ros_create_cliff_sensor.so">
        <ros>
          <namespace>${namespace}</namespace>
          <remapping>~/out:=_internal/${sensor_name}/event</remapping>
        </ros>
        <detection_threshold>${detection_threshold}</detection_threshold>
        <frame_id>${sensor_name}</frame_id>
      </plugin>
    </xacro:ray_sensor>
  </gazebo>
</xacro:macro>

</robot>
