<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ir_opcode_receivers" params="name:=ir_omni
                                                  gazebo
                                                  namespace
                                                  robot_model_name
                                                  dock_model_name
                                                  emitter_link_name
                                                  parent:=base_link
                                                  sensor_0_fov
                                                  sensor_0_range
                                                  sensor_1_fov
                                                  sensor_1_range
                                                  samples:=50
                                                  min_range:=0.015
                                                  update_rate:=62
                                                  visualize:=false
                                                  *origin" >

    <xacro:property name="joint_name" value="${name}_joint" />
    <xacro:property name="receiver_link_name" value="${name}" />

    <joint name="${joint_name}" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${receiver_link_name}"/>
    </joint>

    <link name="${receiver_link_name}">
      <xacro:inertial_dummy />
    </link>

    <!-- These rays are only used for aesthetic and debugging purposes only when the visualize flag is set.
    This there is no need for high update rates. -->
    <xacro:if value="${visualize}">
      <!-- Sensor 0 visualization -->
      <gazebo reference="${receiver_link_name}">
        <xacro:ray_sensor sensor_name="sensor_0" gazebo="${gazebo}" 
                      update_rate="1" visualize="${visualize}" 
                      h_samples="${samples}" h_res="1.0" h_min_angle="-${sensor_0_fov/2}" h_max_angle="${sensor_0_fov/2}" 
                      r_min="${min_range}" r_max="${sensor_0_range}" r_res="0.01">
                      <plugin name="dummy" filename="dummyfile"></plugin>
        </xacro:ray_sensor>
      </gazebo>

      <!-- Sensor 1 visualization -->
      <gazebo reference="${receiver_link_name}">
        <xacro:ray_sensor sensor_name="sensor_1" gazebo="${gazebo}" 
                      update_rate="1" visualize="${visualize}" 
                      h_samples="${samples}" h_res="1.0" h_min_angle="-${sensor_1_fov/2}" h_max_angle="${sensor_1_fov/2}" 
                      r_min="${min_range}" r_max="${sensor_1_range}" r_res="0.01">
                      <plugin name="dummy" filename="dummyfile"></plugin>
        </xacro:ray_sensor>
      </gazebo>
    </xacro:if>

    <xacro:if value="${gazebo == 'classic'}">
      <gazebo>
        <plugin name="${name}_plugin" filename="libgazebo_ros_create_ir_opcode.so">
          <ros>
            <namespace>${namespace}</namespace>
            <remapping>~/out:=ir_opcode</remapping>
          </ros>
          <update_rate>${update_rate}</update_rate>
          <robot_model_name>${robot_model_name}</robot_model_name>
          <receiver_link_name>${receiver_link_name}</receiver_link_name>
          <dock_model_name>${dock_model_name}</dock_model_name>
          <emitter_link_name>${emitter_link_name}</emitter_link_name>
          <sensor_0_fov>${sensor_0_fov}</sensor_0_fov>
          <sensor_0_range>${sensor_0_range}</sensor_0_range>
          <sensor_1_fov>${sensor_1_fov}</sensor_1_fov>
          <sensor_1_range>${sensor_1_range}</sensor_1_range>
        </plugin>
      </gazebo>
    </xacro:if>

    <gazebo reference="${joint_name}" >
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

  </xacro:macro>
</robot>
