<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="imu_sensor" params="*origin parent:=base_link update_rate:=62">

  <joint name="gyro_joint" type="prismatic">
    <axis xyz="0 1 0"/>
    <xacro:insert_block name="origin"/>
    <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    <parent link="${parent}"/>
    <child link="gyro_link"/>
  </joint>
  <link name="gyro_link">
    <xacro:inertial_cuboid mass="0.05" x="0.01" y="0.01" z="0.01" />
  </link>

  <gazebo reference="gyro_link">
    <sensor type="imu" name="imu">
      <always_on>true</always_on>
      <update_rate>${update_rate}</update_rate>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.0</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.0</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.0</stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.0</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.0</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.0</stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
      <plugin name="imu" filename="libgazebo_ros_create_imu.so">
        <ros>
          <namespace>/</namespace>
          <remapping>~/out:=imu</remapping>
        </ros>
      </plugin>
    </sensor>
  </gazebo>

</xacro:macro>
</robot>
