<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="mouse" params="name:=mouse parent_link *origin update_rate" >

    <!-- Sensor settings -->
    <xacro:property name="mass" value="0.1" />
    <xacro:property name="length" value="0.008" /> <!-- Length -->
    <xacro:property name="radius" value="0.01" /> <!-- Radius -->

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent_link}"/>
      <child link="${name}"/>
    </joint>

    <link name="${name}">
      <xacro:inertial_cylinder mass="${mass}" length="${length}" radius="${radius}" />
    </link>

    <gazebo>
      <plugin name="${name}_plugin" filename="libgazebo_ros_create_optical_mouse.so">
        <ros>
          <namespace>/</namespace>
        </ros>
        <update_rate>${update_rate}</update_rate>
        <link>${name}</link>
      </plugin>
    </gazebo>

    <gazebo reference="${name}_joint" >
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
  </xacro:macro>
</robot>
