<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="caster" params="name parent_link *origin">

  <xacro:property name="radius_cm" value="1" />

  <joint name="${name}_joint" type="fixed">
    <parent link="${parent_link}"/>
    <child link="${name}_link"/>
    <xacro:insert_block name="origin"/>
  </joint>
  <link name="${name}_link">
    <visual>
      <geometry>
        <sphere radius="${radius_cm*cm2m}"/>
      </geometry>
      <!-- Give black color to caster in Rviz -->
      <xacro:insert_block name="material_black"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="${radius_cm*cm2m}"/>
      </geometry>
    </collision>
  </link>

  <gazebo reference="${name}_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

</xacro:macro>
</robot>
