<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="ir_emitter" params="name updateRate broadcastRate parent *origin
                                         ros_topic device_type code aperture
                                         min_range:=0.50 range visualize" >

    <!-- Physical link properties -->
    <xacro:property name="mass" value="0.15" />
    <xacro:property name="x"    value="0.014" />
    <xacro:property name="y"    value="0.02" />
    <xacro:property name="z"    value="0.008" />

    <joint name="sensor_emitter_${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="sensor_emitter_${name}_link"/>
    </joint>

    <link name="sensor_emitter_${name}_link">
      <xacro:if value="${visualize}">
        <visual>
          <geometry>
            <box size="${x} ${y} ${z}" />
          </geometry>
        </visual>
      </xacro:if>
      <xacro:inertial_cuboid mass="${mass}" x="${x}" y="${y}" z="${z}" />
    </link>

    <gazebo reference="sensor_emitter_${name}_link">
      <preserveFixedJoint>true</preserveFixedJoint>
      <sensor type="ray" name="${name}">
        <always_on>true</always_on>
        <update_rate>10</update_rate>
        <visualize>${visualize}</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>50</samples>
              <resolution>1</resolution>
              <min_angle>-${aperture/2}</min_angle>
              <max_angle>${aperture/2}</max_angle>
              </horizontal>
          </scan>
            <range>
            <min>${min_range}</min>
            <max>${range}</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
      </sensor>
      <material>Gazebo/Red</material>
      <static>true</static>
    </gazebo>

    <gazebo>
      <static>true</static>
      <!-- <plugin name="${name}_sensor_emitter" filename="libgazebo_ros_irobot_sensor_emitter.so">
        <link>sensor_emitter_${name}_link</link>
        <topicName>${ros_topic}</topicName>
        <emitterName>${name}</emitterName>
        <emitterType>${device_type}</emitterType>
        <emitterCode>${code}</emitterCode>
        <rayAperture>${aperture}</rayAperture>
        <rayRange>${range}</rayRange>
        <updateRate>${updateRate}</updateRate>
        <broadcastRate>${broadcastRate}</broadcastRate>
      </plugin> -->
    </gazebo>

  </xacro:macro>
</robot>
