name: Testing

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build_and_test:
    name: build_and_test
    runs-on: ubuntu-20.04
    steps:
      - name: Set Ignition Version
        run: |
          echo "IGNITION_VERSION=edifice" >> $GITHUB_ENV
      - uses: actions/checkout@v2.3.4
      - uses: ros-tooling/setup-ros@0.2.1
        with:
          required-ros-distributions: galactic
      - uses: ros-tooling/action-ros-ci@0.2.1
        id: action_ros_ci_step
        with:
          target-ros2-distro: galactic
          import-token: ${{ secrets.REPO_TOKEN }}
          vcs-repo-file-url: dependencies.repos
          package-name:
            irobot_create_common_bringup
            irobot_create_control
            irobot_create_description
            irobot_create_nodes
            irobot_create_toolbox
            irobot_create_gazebo_bringup
            irobot_create_gazebo_plugins
            irobot_create_gazebo_sim
            irobot_create_ignition_bringup
            irobot_create_ignition_plugins
            irobot_create_ignition_sim
            irobot_create_ignition_toolbox
