name: Testing

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build_and_test:
    name: build_and_test
    runs-on: ubuntu-22.04
    steps:
      - name: Set Ignition Version
        run: |
          echo "IGNITION_VERSION=edifice" >> $GITHUB_ENV
      - uses: actions/checkout@v2.3.4
      - uses: ros-tooling/setup-ros@0.6.0
        with:
          required-ros-distributions: humble
      - uses: ros-tooling/action-ros-ci@0.3.0
        id: action_ros_ci_step
        with:
          target-ros2-distro: humble
          import-token: ${{ secrets.REPO_TOKEN }}
