name: Testing

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build_and_test:
    name: build_and_test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: ros-tooling/setup-ros@0.2.1
        with:
          required-ros-distributions: galactic
      - uses: ros-tooling/action-ros-ci@0.2.1
        id: action_ros_ci_step
        with:
          target-ros2-distro: galactic
          import-token: ${{ secrets.REPO_TOKEN }}
          package-name:
            irobot_create_control
            irobot_create_description
            irobot_create_gazebo
            irobot_create_gazebo_plugins
            irobot_create_msgs
            irobot_create_sim
            irobot_create_toolbox

      # ============
      # DEPENDENCIES
      # ============

      - name: Dependencies [Ubuntu]
        shell: bash
        run: |
          sudo sh -c 'echo "deb http://packages.osrfoundation.org/gazebo/ubuntu `lsb_release -cs` main" > /etc/apt/sources.list.d/gazebo-latest.list'
          wget http://packages.osrfoundation.org/gazebo.key -O - | sudo apt-key add -
          sudo apt-get update
          sudo apt-get install git build-essential cmake libace-dev libeigen3-dev libopencv-dev
          sudo apt-get install libgazebo11-dev
