name: Linter

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  ament_lint:
    name: ament_${{ matrix.linter }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        linter:
          - clang_format
          - copyright
          - cppcheck
          - flake8
          - lint_cmake
          - mypy
          - pep257
          - pycodestyle
          - pyflakes
          - xmllint
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: ros-tooling/setup-ros@0.2.1
        with:
          required-ros-distributions: galactic
      - uses: ros-tooling/action-ros-lint@0.1.3
        with:
          distribution: galactic
          linter: ${{ matrix.linter }}
          package-name:
            irobot_create_control
            irobot_create_description
            irobot_create_gazebo
            irobot_create_gazebo_plugins
            irobot_create_msgs
            irobot_create_sim
            irobot_create_toolbox
